@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Oswald:wght@300;400;600;700&family=Rowdies:wght@300&display=swap');
body{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
    flex-direction: row;
    margin: 10px;
    background-color: aqua;

}

.logo{
    position: relative;
    background-color: brown;
    height: 100px;
    width: 500px;
    top: 100px; 
}

.blue{
    position: absolute;
    background-color:blue;
    height: 50px;
    width: 100px;
    
}
li{
    padding: 20px;
}

.footer{
   
    
   
    position: absolute; 
    bottom: 0;
    right: 0;
    

}


.f1{
    background-color: aqua;
}

button{
    padding: 10px ;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 1rem;
   
    border-color: black;
    display: inline-block;
    margin: 10px;
}

h1{
    
    font-size:xx-large;
}
#blackjack-game{
    background-color:bisque;
    text-align: center  ;
}

#message-el{
    text-align: center;
    font-style: italic;
}

#game-element{
    display: inline;
    padding: 2rem;
}

